<section class="home-section" id="home">
    <div class="container home-container">
<div class="home-wrapper">
    <h1 class="home-title">
        Build Strong. Strike Smarter.
    </h1>
    <p class="home-text">Every piece you place counts.</p>
</div>
<picture>
    <source srcset="
                            /img/home/desk.png  1x,
                            /img/home/desk@2x.png 2x
                            " media="(min-width: 1439px)" />
    <source srcset="
                            /img/home/mob.png  1x,
                            /img/home/mob@2x.png 2x
                            " media="(max-width: 1438px)" />
    <img src="/img/home/mob.png" alt="Construct Clash" loading="lazy" />
</picture>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container">
        <h2 class="about-title">
            About the Game
        </h2>
        <div class="about-text-wrapper">
            <p>Your building choices are your strategy</p>
            <p>The whole game revolves around how you set up your base. Every wall, turret, and path influences both defense and attack
            outcomes. You can't just throw up walls and hope for the best - you've got to think like your opponent and stay one step
            ahead.
</p>
        </div>
    </div>
</section>