:root {
  --bg1: #c6f0ff;
  --bg2: #132229;
  --text-black: #010101;
  --text-white: #fff;
  --bg-white: #fff;
  --text-gray: #6a7282;
  --font-family: "Inter", sans-serif;
    --second-family: "Manrope", sans-serif;
    --third-family: "Merge One", sans-serif;
}
body{
background-color: #c6f0ff;
font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  text-align: center;
  color: #010101;
}
h2{
  font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 133%;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
@media only screen and (min-width: 1440px) {
 body{
font-size: 20px;
 } 
 h2{
  font-size: 50px;
margin-bottom: 40px;
 }
}