.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}
.home-wrapper{
    margin-top: 56px;
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
}
.home-title{
    font-family: var(--second-family);
        font-weight: 700;
        font-size: 30px;
        line-height: 133%;
        text-align: center;
        color: var(--text-black);
}
.home-text{
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
}
@media only screen and (min-width: 1440px) {
    .home-container{
    flex-direction: row;
    gap: 64px;
    padding-bottom: 164px;
}
.home-wrapper{
    margin-top: 0px;
    width: 892px;
        align-items: start;
        gap: 40px;
}
.home-title{
        font-size: 60px;
        line-height: 125%;
        text-align: left;
}
.home-text{
        font-weight: 500;
        font-size: 32px;
        line-height: 131%;
}

}
/* About the Game */
.about-section{
    background: var(--bg2);
}
.about-text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    color: var(--text-white);
    text-align: left;
}
@media only screen and (min-width: 1440px) {
.about-text-wrapper{
    gap: 40px;
}

}
/* How to Play */
.how-container{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.how-title{
    color: var(--text-black);
}
.how-list-wrapper{
display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    text-align: left;
}
.how-list{
list-style-type: disc;
padding-left: 20px;
}
@media only screen and (min-width: 1440px) {
.how-container {
        padding-top: 100px;
        padding-bottom: 100px;
        flex-direction: row-reverse;
        align-items: center;
        gap: 64px;
    }
    .how-wrapper{
        width: 915px;
        display: flex;
    flex-direction: column;
        align-items: center;
    }

    .how-list-wrapper {
        align-items: center;
        gap: 20px;
        text-align: center;
    }

    .how-list {
display: flex;
    flex-direction: column;
    align-items: center;
    }
    }