.home-section{
background: var(--bg1);
}

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}
.home-wrapper{
    margin-top: 56px;
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
}
.home-title{
    font-family: var(--second-family);
        font-weight: 700;
        font-size: 30px;
        line-height: 133%;
        text-align: center;
        color: var(--text-black);
}
.home-text{
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
}
@media only screen and (min-width: 1440px) {
    .home-container{
    flex-direction: row;
    gap: 64px;
    padding-bottom: 164px;
}
.home-wrapper{
    margin-top: 0px;
    width: 892px;
        align-items: start;
        gap: 40px;
}
.home-title{
        font-size: 60px;
        line-height: 125%;
        text-align: left;
}
.home-text{
        font-weight: 500;
        font-size: 32px;
        line-height: 131%;
}

}
/* About the Game */
.about-text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    color: var(--text-white);
    text-align: left;
}
@media only screen and (min-width: 1440px) {
.about-text-wrapper{
    gap: 40px;
}

}
/* How to Play */
.how-section {
    background: var(--bg1);
}
.how-container{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.how-title{
    color: var(--text-black);
}
.how-list-wrapper{
display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    text-align: left;
}
.how-list{
list-style-type: disc;
padding-left: 20px;
}
@media only screen and (min-width: 1440px) {
.how-container {
        padding-top: 100px;
        padding-bottom: 100px;
        flex-direction: row-reverse;
        align-items: center;
        gap: 64px;
    }
    .how-wrapper{
        width: 915px;
        display: flex;
    flex-direction: column;
        align-items: center;
    }

    .how-list-wrapper {
        align-items: center;
        gap: 20px;
        text-align: center;
    }

    .how-list {
display: flex;
    flex-direction: column;
    align-items: center;
    }
    }
 /* Core Systems */
.core-title{
    margin-bottom: 0;
}
.core-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.core-text{
    color: var(--text-white);
}
.core-list{
    display: flex;
        flex-direction: column;
        gap: 20px;
}
.core-item{
    border: 1px solid #e5e7eb;
        border-radius: 16px;
        padding: 20px;
        width: 327px;
        height: auto;
        box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
            background: var(--text-white);
}
.core-item-title{
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        margin-bottom: 16px;
}
.core-item-text{
        font-size: 16px;
text-align: left;
}
@media only screen and (min-width: 1440px) {
        .core-wrapper {
            gap: 40px;
        }
        .core-list {
            gap: 40px;
            align-items: center;
        }
    
        .core-item {
            padding: 24px 23px;
            width: 1174px;  
        }
    
        .core-item-title {
            font-weight: 500;
            font-size: 32px;
            line-height: 131%;
            text-align: left;
        }
    
        .core-item-text {
            font-size: 24px;
        }
}
/* Game Modes */
.desk{
    display: none;
}
.modes-section{
    background: var(--bg1);
}
.modes-container{
padding-top: 50px;
padding-bottom: 50px;
}

.modes-title{
    color: var(--text-black);
}
.modes-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.modes-list-item{
    border: 1px solid #e5e7eb;
        border-radius: 16px;
        padding: 20px;
        width: 327px;
        height: 106px;
        box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
            background: var(--text-white);
}
.modes-list-item-title{
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
}
.modes-list-item-text{
        font-size: 16px;
        margin-top: 16px;
}
@media only screen and (min-width: 1440px) {
.desk {
        display: inline;
    }
.mob{
    display: none;
}
.modes-container {
    padding-top: 100px;
    padding-bottom: 100px;
}
    .modes-list {
        margin-top: 40px;
        flex-direction: row;
        justify-content: center;;
        gap: 16px;
    }

    .modes-list-item {
        border-radius: 24px;
        padding: 24px;
        width: 400px;
        height: 136px;
    }

    .modes-list-item-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 131%;
    }

    .modes-list-item-text {
        font-size: 24px;
    }
}
/* Player Benefits */
.benefits-section{
    background: var(--bg1);
}
.benefits-container{
    padding-top: 50px;
    padding-bottom: 50px;
}
.benefits-title{
    color: var(--text-black);
}
.benefits-container p{
    text-align: left;
}
.benefits-list{
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
@media only screen and (min-width: 1440px) {
.benefits-container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .benefits-title {
        color: var(--text-black);
    }

    .benefits-container p {
        text-align: center;
    }

    .benefits-list {
        margin-top: 40px;
        gap: 40px;
    }
}
    